* {
    font-family: 'Abel', sans-serif;
    /*   */

}
:root {
    --orange: #EB9D3A;
    --blue: #00ABA9;
    --green: #7CB06C;
    --grey-light: #F0F0F0;
    --grey-dark: #E6E6E6;
    --red: #E6563B;
}

h1, h3 {
    font-family: 'Anton', sans-serif;
}
.logo {
    margin: 0 auto;
    height: 105px;
    width: 105px;
    position: relative;
    top: -20px;
    /*z-index: auto; */
}

.header {
    background-color: var(--grey-dark);
}
