* {
    font-family: 'Abel', sans-serif;
    transition: all 1s;
    /*   */

}
:root {
    --orange: #EB9D3A;
    --blue: #00ABA9;
    --green: #7CB06C;
    --grey-light: #F0F0F0;
    --grey-dark: #E6E6E6;
    --red: #E6563B;
}

h1, h2,  h3, h4, h5,  div>.text-white {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h58 {
    font-size: 28px;
}
.logo {
    margin: 0 auto;
    height: 105px;
    width: 105px;
    position: relative;
    top: -20px;
    /*z-index: auto; */
}

.bg-gray {
    background-color: var(--grey-light);
}

 /* @media screen and (min-width: 576px) {
    .circle {
        height: 105px;
        width: 105px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50%;
        text-align: center;
        border: 5px solid white;
        background-color: white;
        /*margin: 20px auto;
    }
} */

.circle {
    height: 105px;
    width: 105px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
    text-align: center;
    border: 5px solid white;
    background-color: white;
    /*margin: 20px auto;*/
}

.small-circle {
    height: 18px;
    width: 18px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
    text-align: center;
    border-width: medium;
    font-size: x-small;
    padding-bottom: 13px;
    /*margin: 20px auto;*/
}

.orange {
    background-color: var(--orange);
}

.red {
    background-color: var(--red);
}

.green {
    background-color: var(--green);
}

.blue {
     background-color: var(--blue);
 }

.center {
    position: relative;
    top: 40%;
    bottom: 50%;
}

header {
    height: 55px;
}

.image-border {
    background-color: var(--grey-dark);
    /*border: 10em;*/
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.border-box {
    box-sizing: border-box;
}

