:root {
    --orange: #EB9D3A;
    --blue: #00ABA9;
    --green: #7CB06C;
    --grey-light: #F0F0F0;
    --grey-dark: #E6E6E6;
    --red: #E6563B;
}
* {
    font-family: 'Abel', sans-serif;
    background-color: var(--grey-dark);
}

h1, h3, div>.text-white {
    font-family: 'Anton', sans-serif;
}
.logo {
    margin: 0 auto;
    height: 105px;
    width: 105px;
    position: relative;
    top: -75px;
    /*z-index: auto; */
}

.bg-gray {
    background-color: var(--grey-dark);
}

.circle {
    height: 105px;
    width: 105px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
    text-align: center;
    position: center;
    background-color: white;
    /*margin: 20px auto;*/
}
.inner {
    height: calc(100% - 10%);
    width: calc(100% - 10%);
    text-align: center;
    position: relative;
    margin-top: 5px;

}

.small-circle {
    height: 18px;
    width: 18px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
    text-align: center;
    border-width: medium;
    font-size: x-small;
    padding-bottom: 13px;
    display: inline-block;
    float: right;
    /*margin: 20px auto;*/
}

.orange {
    background-color: var(--orange);
}

.red {
    background-color: var(--red);
}

.green {
    background-color: var(--green);
}

.blue {
     background-color: var(--blue);
 }

.center {
    position: relative;
    top: 40%;
    bottom: 50%;
}
.img-width {
    width: 100%;
}
